version: '3'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: otds_backend
    container_name: otds_backend
    restart: unless-stopped
    env_file: .env
    ports:
      - "3000:3000"
    volumes:
      - ./src:/usr/src/app/src
      - ./storage:/usr/src/app/storage
      - ./server.js:/usr/src/app/server.js
    depends_on:
      - mongodb
    networks:
      - app-network
    # command: sh wait-for.sh db:27017 -- /home/node/app/node_modules/.bin/nodemon server.js
  # web:
  #   image: memcached
  #   ports:
  #     - "11211:11211"
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '0.50'
  #         memory: 50M
  #       reservations:
  #         cpus: '0.25'
  #         memory: 20M
  mongodb:
    image: mongo:4.2
    container_name: otds_mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    networks:
      - app-network
    command: mongod --auth

networks: 
  app-network:
    driver: bridge

volumes:
  data:
  node_modules:  