version: '3'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: otds_backend
    container_name: otds_backend
    restart: unless-stopped
    env_file: .env
    ports:
      - "3100:3000"
    volumes:
      - ./src:/usr/src/app/src
      - ./storage:/usr/src/app/storage
      - ./server.js:/usr/src/app/server.js
    #depends_on:
    #  - db
    # networks:
    #   - app-network
    # command: sh wait-for.sh db:27017 -- /home/node/app/node_modules/.bin/nodemon server.js
  cache-server:
    image: memcached
    ports:
      - "11211:11211"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 50M
        reservations:
          cpus: '0.25'
          memory: 20M
#   db:
#     image: mongo:4.1.8-xenial
#     container_name: mongo_db
#     restart: unless-stopped
#     env_file: .env
#     environment:
#       - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
#       - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
#     ports:
#       - "27017:27017"
#     volumes:
#       - dbdata:/data/db
#     networks:
#       - app-network

# networks: 
#   app-network:
#     driver: bridge

# volumes:
#   dbdata:
#   node_modules:  