version: '3'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: otds_api
    container_name: otds_api
    restart: always
    env_file: .env
    environment:
      - APP_ENV=$APP_ENV
    ports:
      - "3100:3000"
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    #depends_on:
    #  - db
    # networks:
    #   - app-network
    # command: sh wait-for.sh db:27017 -- /home/node/app/node_modules/.bin/nodemon server.js
#   db:
#     image: mongo:4.1.8-xenial
#     container_name: mongo_db
#     restart: unless-stopped
#     env_file: .env
#     environment:
#       - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
#       - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
#     ports:
#       - "27017:27017"
#     volumes:
#       - dbdata:/data/db
#     networks:
#       - app-network

# networks: 
#   app-network:
#     driver: bridge

volumes:
#   dbdata:
  node_modules:  